@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>
        Data:
        @ViewData["Message"]
    </h1>
    <hr>
    <p>Value: @ViewBag.Variable</p>
    <i>Demo</i>
</div>
</body>
</html>